<h2>Work by: <%= @owner.name %></h2>
<% if current_user.email == @owner.user.email %>
  <div class="d-flex" style="justify-content: space-between;">
    <%= link_to 'My Dailyreports', my_crs_path(id: @owner.id), class:"btn btn-dark" %>
    <div align="right">
      <%= link_to 'Update my profile details', edit_owner_path(@owner), type:"button", class:"btn btn-light" %></h2>
    <%= link_to 'Update my password', edit_user_registration_path, type:"button", class:"btn btn-light" %></h2>
</div>
</div>
<% end %>
<br>
<div class="d-flex justify-content-around">
  <div align="middle" class="card" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Nombre de Tickets</h5>
      <p class="card-text"><%= @owner.issues.count %></p>
    </div>
  </div>
  <div align="middle" class="card" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Total Estimation</h5>
      <p class="card-text"><%= @total_estimation %> hours</p>
    </div>
  </div>
  <div align="middle" class="card" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">Total Réel</h5>
      <p class="card-text"><%= @total_real %> hours</p>
    </div>
  </div>
  <div align="middle" class="card" style="width: 12rem;">
    <div class="card-body">
      <h5 class="card-title">E/R difference</h5>
      <p class="card-text"><%= @total_estimation - @total_real%> hours</p>
    </div>
  </div>
</div>
<br>
<div class="d-flex justify-content-around">
  <div align="middle" class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title"># of Tasks: <%= @total_tasks %></h5>
      <p class="card-text"><%= @total_tasks_duration %> hours</p>
    </div>
  </div>
  <div align="middle" class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title"># of meetings: <%= @total_meetings %></h5>
      <p class="card-text"><%= @total_meetings_duration %> hours</p>
    </div>
  </div>
  <div align="middle" class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title"># of trainings: <%= @total_trainings %></h5>
      <p class="card-text"><%= @total_trainings_duration %> hours</p>
    </div>
  </div>
</div>
<br/>
<br/>
<h4>Issues from <%= @owner.name %></h4>
<div class="table-responsive">
  <table class="table table-sm table-hover table-justified">
    <thead>
      <tr>
        <th scope="col">Jira ID</th>
        <th scope="col">Owner</th>
        <th scope="col">Type</th>
        <th scope="col">Estimation</th>
        <th scope="col">Réel</th>
      </tr>
    </thead>
    <tbody>
      <% @owner.issues.each do |issue| %>
        <tr>
          <td>
            <%= link_to issue.jiraid, issue %>
            &nbsp;
            <% if issue.retour_test %>
              <%= '<i class="bi bi-bug" style="font-size: 1.15rem;""></i>'.html_safe %>
            <% else %>
              <%= '<i class="bi bi-hammer" style="font-size: 1.15rem;""></i>'.html_safe %>
            <% end %>
          </td>
          <td><%= link_to issue.owner.name, issue.owner%></td>
          <td><%= issue.issue_type %></td>
          <td><%= issue.time_forecast %></td>
          <td><%= issue.time_real %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>