<div class="container">
  <%= simple_form_for @issue do |f| %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :jiraid, label: 'JIRA ID' %>
      </div>
      <div class="col-sm-4">
        <%= f.association :owner, label: 'Assignee', selected: current_user.id, as: :select %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <%= f.input :issue_type, label: 'Type', collection: IssueType.all, label_method: :name, value_method: :name, as: :select %>
      </div>
      <div class="col-sm-2 d-flex align-items-center">
        <div class="custom-control custom-switch">
          <%= f.check_box :retour_test, class: "custom-control-input", id: "customSwitch1" %>
          <label class="custom-control-label" for="customSwitch1"> <i class="bi bi-bug" style="font-size: 1.15rem;"></i> Retour tests </label>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-sm-3">
        <%= f.hidden_field :project_id, value: @api_project_name%>
        <%= f.hidden_field :status, value: @api_status%>
        <%= f.hidden_field :time_real, value: @api_time_real%>
        <%= f.hidden_field :time_forecast, value: @api_time_estimate %>
      </div>
    </div>
    <br>
    <div class="form-group">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>