<h2>Local Jira ID: <%= @issue.jiraid %> | JIRA API ID: <%= @api_issuekey %></h2>
<p>Project name: <%= @api_project_name %></p>
<p>Creation Date: <%= @api_date_created %></p>
<p>Assigned to: <%= @api_display_name %></p>
<p>Status: <%= @api_status %></p>
<p>Creator: <%= @api_issue_creator %></p>
<p>Time Estimate: <%= @issue.time_forecast %> hours </p>
<p>Time Spent: <%= @issue.time_real %> hours</p>
<p>Issue details: <%= @api_summary %></p>