<br/>
<br/>
<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Ticket ID</th>
				<th scope="col">Projet</th>
				<th scope="col">Ressource</th>
				<th scope="col">Département</th>
				<th scope="col">Estimation</th>
				<th scope="col">Réel</th>
			</tr>
		</thead>
		<tbody>
			<% @results.each do |issue| %>
			<tr>
				<td><%= link_to issue.id, issue %></td>
				<td><%= issue.jiraid %></td>
				<td><%= issue.project %></td>
				<td><%= issue.owner %></td>
				<td><%= issue.departement %></td>
				<td><%= issue.time_forecast %></td>
				<td><%= issue.time_real %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
