<h1>Home >> JIRA</h1>
<% if @collected_projects.nil? %>
  <%= @response_output_issues = "Error loading the data, check the API response" %>
<% else %>
  Total Projects imported: <%= @collected_projects.length %>
  ---------------------------------------
<% end %>
<div class="table-responsive">
  <table class="table table-sm table-hover table-justified">
    <thead>
      <tr>
        <th scope="col">Jira ID</th>
        <th scope="col">Project name</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <% @collected_projects.each do |project| %>
        <tr>
          <td><%= project[0] %></td>
          <td><%= project[1] %></td>
          <td><%= project[2] %></td>
        <%end%>
      </tr>
    </tbody>
  </table>
</div>