<h1>Home >> JIRA</h1>
<% if @collected_projects_hash.nil? || @collected_projects_hash == {} %>
  <%= "No response or empty body" %>
<% else %>
  Number of projects: <%= @collected_projects_hash.length %>
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Key</th>
          <th scope="col">Name</th>
          <th scope="col">Self</th>
          <th scope="col">Lead</th>
        </tr>
      </thead>
      <tbody>
        <% @collected_projects_hash.each do |key, project| %>
          <tr>
            <td><%= project[:key] %></td>
            <td><%= project[:name] %></td>
            <td><%= project[:self] %></td>
            <td><%= project[:lead] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>