<h1>Departement's List</h1>
<br/>
<%= link_to new_departement_path do %>
<button type="button" class="btn btn-success btn-lg btn-block">Add a new departement</button>
<% end %>
<br/>
<div class="table-responsive">
	<table class="table table-sm table-hover table-justified">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<% @departements.each do |departement| %>
			<tr>
				<td><%= departement.id %></td>
				<td><%= departement.name %></td>
				<td align="middle">
					<%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_departement_path(departement) %>
					&nbsp;
					<%= link_to '<i class="bi bi-trash3"></i>'.html_safe, departement_path(departement), method: :delete %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
