<h2>Projects List</h2>
<br/>
<br/>
<div class="table-responsive">
  <table class="table table-sm table-hover table-justified">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Jira ID</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td align="middle"><%= link_to '<i class="bi bi-eye-fill" style="font-size: 1.15rem;""></i>'.html_safe, project %></td>
          <td><%= project.jiraid %></td>
          <td><%= project.name %></td>
          <td align="middle">
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_project_path(project) %>
            &nbsp;
            <!--  link_to '<i class="bi bi-trash3"></i>'.html_safe, project_path(project), method: :delete, class: "delete-button"   -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div align="right" style="font-size: 80%"><%= page_entries_info @projects, entry_name: 'project' %></div>
  <span class="d-flex flex-row-reverse"><%= link_to_next_page @projects, 'Next' %>&nbsp;&nbsp;<%= link_to_previous_page @projects, 'Previous' %></span>
</div>
<br/>
<br/>
<%= link_to new_project_path do %>
  <button type="button" class="btn btn-success btn-lg btn-block">Add a new Project</button>
<% end %>