<%= simple_form_for @dailyreport do |f| %>
  <%= f.association :owner, selected: current_user.id  %>
  <%= f.input :comment %>
  <%= f.fields_for :issues do |issue_fields| %>
    <h3>Issue</h3>
    <%= render "issues_fields", f: issue_fields %>
  <% end %>
  <br/>
  <%= f.button :submit %>
<% end %>