<h3>Inspire Production Team CRs</h3>
<br>
<%= link_to new_dailyreport_path do %>
  <button type="button" class="btn btn-success btn-sm btn-block">Submit a CR</button>
<% end %>
<br>
<div class="d-flex flex-wrap">
  <!-- Header of the card -->
  <% @dailyreports.each do |dailyreport| %>
    <div class="card" style="width: 30%; margin:10px">
      <div class="card-body">
        <h6 class="card-title d-flex justify-content-between">
          #CR: <%= dailyreport.id %> du <%= dailyreport.created_at.strftime("%d %B %Y - %kh%M") %>
          <% if current_user.admin? %>
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_dailyreport_path(dailyreport)%>
          <% end %>
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">Owner: <%= link_to dailyreport.owner.name, dailyreport.owner %></h6>
        <hr/>
        <!-- Main Tasks -->
        <% if dailyreport.issues == [] %>
          <p class="card-text"> No Tickets in this CR </p>
        <% else %>
          <% dailyreport.issues.each do |issue| %>
            <% if issue.issue_type == "Task" %>
              <span class="card-text"> <%= status_icon(issue.status) %> </span>
              &nbsp;
              <span class="card-text" style="font-weight: bolder;">  <%= link_to issue.jiraid, issue %></span>
              <span class="card-text">  Time spent: <%= issue.time_real %> min</span>
              <span class="card-text">  Time spent: <%= issue.status %> min</span><br>
            <% end %>
          </span>
          <!-- Other tasks -->
          <% if issue.issue_type != "Task" %>
            <span class="card-text"> <%= status_icon(issue.status) %> </span>
            &nbsp;
            <span class="card-text" style="font-weight: bolder;">  <%= link_to issue.jiraid, issue %></span>
            <span class="card-text">  Time spent: <%= issue.time_real %> min</span>
            <span class="card-text">  Time spent: <%= issue.status %> min</span><br>
          <% end %>
        <% end %>
      <% end %>
      <hr/>
      <p class="card-text" style="font-weight: light;">Commentaires: <%= dailyreport.comment %> </p>
    </div>
  </div>
<% end %>
</div>
<br>
<br>
<div align="right" style="font-size: 80%"><%= page_entries_info @dailyreports, entry_name: 'CRs' %></div>
<div class="d-flex flex-row-reverse">
  <%= link_to_next_page @dailyreports, 'Next' %>&nbsp;&nbsp;
  <%= link_to_previous_page @dailyreports, 'Previous' %>
</div>