<h3><%= "#CR: #{@dailyreport.id} du #{@dailyreport.created_at.strftime("%d %B %Y - %kh%M") }" %></h3>
<div class="card" style="width: 30%;">
  <div class="card-body">
    <h5 class="card-title"><%= @dailyreport.owner.name %></h5>
    <hr/>
    <h6 class="card-subtitle mb-2 text-muted">Issues:</h6>
    <% if @dailyreport.issues == [] %>
      <p> No Tickets in this CR </p>
    <% else %>
      <% @dailyreport.issues.each do |issue| %>
        <span class="card-text"> <%= status_icon(issue.status) %> </span>
        &nbsp;
        <span class="card-text" style="font-weight: bolder;">  <%= issue.jiraid %></span>
        <span class="card-text">  Time spent: <%= issue.time_real %> min</span>
        <span class="card-text">  Status: <%= issue.status %></span>
      </span>
    <% end %>
  <% end %>
  <hr/>
  <h6 class="card-subtitle mb-2 text-muted">Autres tâches</h6>
  <p class="card-text">Formation: 2h.30min</p>
  <p class="card-text">Réunion: 2h.30min : ValJob</p>
  <p class="card-text">Réunion: 2h.30min : ValJob</p>
  <hr/>
  <p class="card-text">Commentaires: <%= @dailyreport.comment %> </p>
  <a href="" class="btn btn-dark">Link</a>
</div>
</div>